<html>
<head>
  <title>List Approved</title>
</head>
<body>
  <h1>Listing New Clinics</h1>
  <table>
    <tr>
      <th>Clinic ID</th>
      <th>Clinic Name</th>
      <th>Clinic Status</th>
    </tr>
    <% @h.each do |key, item| %>
      <% item.each do |record| %>
        <tr>
          <td><%= record.clinic_id %></td>
          <td><%= record.clinic_name %></td>
          <td><%= record.update_status %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

</body>

</html>
