<<<<<<< HEAD
<h1>Listing All Clinics</h1>
 
<table>
  <tr>
    <th>Clinic Name</th>
    <th>Approve</th>
  </tr>
 
  <% @clinic_inserts.each do |clinic| %>
    <tr>
      <td><%= clinic.clinic_name %></td>
      <td><%= clinic.update_status %></td>
      <td><%= clinic.approve %></td>
      
    </tr>
  <% end %>
</table>
=======
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Listing All Clinics</h1>
  <%= render "list" %>

</body>

</html>
>>>>>>> c2dbc4ae289429c3f084a5c8b78a0ec0ee82f1c1
